{% extends "index.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-form">
        <h2>Login to Your Account</h2>
        <form method="POST" action="{{ url_for('login') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="username">Username</label>
                {{ form.username(class="form-control", id="username") }}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                {{ form.password(class="form-control", id="password") }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn-login">Login</button>
            </div>
            <div class="form-options">
                <p><a href="#">Forgot Password?</a></p>
                <p>Don't have an account? <a href="{{ url_for('register') }}">Sign Up</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
