{% extends "index.html" %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}

{% block content %}
<div class="register-container">
    <div class="register-form">
        <h2>Create a New Account</h2>
        <form method="POST" action="{{ url_for('register') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="username">Username</label>
                {{ form.username(class="form-control", id="username") }}
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                {{ form.email(class="form-control", id="email") }}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                {{ form.password(class="form-control", id="password") }}
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm Password</label>
                {{ form.confirm_password(class="form-control", id="confirm_password") }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn-register">Register</button>
            </div>
            <div class="form-options">
                <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}